* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 1rem 2.5rem;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
}

.emptymsg {
    display: none;
}
table#bingo:empty ~ .emptymsg {
    display: block;
}

table#bingo {
    margin: auto;
}

table#bingo td {
    border: 1px solid #000;
}

dialog#editwords:open {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

dialog#editwords * {
    margin: 0;
}

dialog#editwords textarea {
    resize: none;
}
